.default {
    background-color:#7892c2;
    margin: 10px;
    border-radius:9px;
    border:1px solid #4e6096;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:arial,sans-serif;
    font-size:18px;
    padding:6px 13px;
    text-decoration:none;
}
.default:hover {
    background-color:#173457;
}
.default:active {
    position:relative;
    top:1px;
}
.default:disabled{
    opacity: 20%;
}

.red {
    border: 1px solid #0d3852;
    border-radius: 9px;
    font-family: arial,sans-serif;
    color: #ffffff;
    font-size: 18px;
    padding: 5px;
    text-decoration: none;
    background: red;
}